import type { Metadata } from "next";
import { ComponentNavigation } from "@/lib/component-navigation/component-navigation";
import { Link as GrapesLink } from "@dev-spendesk/grapes";

export const metadata: Metadata = {
  title: "{{componentName}}",
};

export default function Layout(props: { children: React.ReactNode }) {
  return (
    <>
      <h1>{{componentName}}</h1>
      <p>
        Short description here
      </p>
      <GrapesLink
        isExternal
        href="{{componentGithubLink}}"
      >
        View source code
      </GrapesLink>
      <ComponentNavigation
        links={[
          { text: "Usage", href: "/docs/components/{{ folderName }}" },
          { text: "Props", href: "/docs/components/{{ folderName }}/props" },
          {{#if accessibilityTab}} 
          {
            text: "Accessibility",
            href: "/docs/components/{{ folderName }}/accessibility",
          },
          {{/if}}
        ]}
      />
      {props.children}
    </>
  );
}

